@page "/pc"
@using System.Diagnostics.CodeAnalysis;
@using ZXing.Common;
@using ZXing;
<style>
    canvas#buffer {
        display: none;
    }

</style>

<video height="@Height" width="@Width" id="barcode" playsinline autoplay alt="Webcam video stream"></video>
<p><span id="errorMsg"></span></p>
<canvas id="buffer"></canvas>

@code {
    [Inject] public IJSRuntime js { get; set; }
    [Parameter] public int Height { get; set; } = 720;
    [Parameter] public int Width { get; set; } = 1280;


    protected override Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            return Task.WhenAll(
                js.InvokeVoidAsync("window.camera", Height, Width).AsTask(),
                base.OnAfterRenderAsync(firstRender)
            );
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}